<%-include('./partial/header.ejs',{title:"Support"})%>
<div class="container-fluid">
  <div class="row" style="color: red">
    <div class="col-lg-2"><%-include('./partial/sidebar.ejs')%></div>
    <div class="col-lg-10">
      <%-include('./partial/maindashboard.ejs',{page_title:"support"})%>
      <div id="mainPage">
        <h1>support</h1>
      </div>
    </div>
  </div>
</div>
<%-include('./partial/footer.ejs')%>
