<script src="./bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="./jquery/dist/jquery.js"></script>
    <script>
      $(function () {
        $(".btnn").click(function () {
          $(".sidemenu").toggle();
        });
      });
    </script>
  </body>
</html>