<div id="dashboard" class="d-flex justify-content-between bg-info p-3">
  <div class="pageTitle">
    <h5>
      <a href="/home" class="disabled">Codingsick</a>
      <a href="#" class="btnn">Codingsick</a> ><%=page_title%>
    </h5>
  </div>
  <div class="bg-warning">
    <span class="border-end border-dark p-2"
      ><a href="#"
        ><i class="fa-solid fa-circle-user fa2x" id="pic"></i> Create Account</a
      ></span
    >
    <span class="border-end border-dark p-2"
      ><a href="#"><i class="fa-solid fa-bell fa2x"></i> </a
    ></span>
    <span class="p-2"
      ><a href="#"><i class="fa-solid fa-gear fa2x"></i></a
    ></span>
  </div>
</div>
