<div class="bg-dark">
  <div class="bg-info p-1 text-center"><h1>Codingsick</h1></div>
  <ul class="nav flex-column sidemenu">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home"
        ><i class="fa-solid fa-house-user fa2x me-2"></i> dashboard</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about"
        ><i class="fa-solid fa-circle-user fa2x me-2"></i> about us</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/service"
        ><i class="fa-solid fa-screwdriver-wrench fa2x me-2"></i> service</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/earning"
        ><i class="fa-solid fa-euro-sign fa2x me-2"></i> earnings</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/project"
        ><i class="fa-solid fa-cart-arrow-down fa2x me-2"></i> your project</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account"
        ><i class="fa-solid fa-user fa2x me-2"></i> account</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/support"
        ><i class="fa-solid fa-headphones fa2x me-2"></i> free support</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/team"
        ><i class="fa-solid fa-users fa2x me-2"></i> our team</a
      >
    </li>
  </ul>
</div>
